<html>
	<head>
		<style>
			body {
				font-size: 12px;
				margin: 5px 5px 0;
			}
			p {
				width: 100%;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<p>
			<span class="pageNumber"></span>
			/
			<span class="totalPages"></span>
		</p>
	</body>
</html>
